<div class="account__intro">
	<h2>You're ready to go!</h2>
	<p class="account__instruction">Your OpenShare key is <code class="account__spi-key"></code></p>
	<p class="account__instruction">To get started simply set your OpenShare key using a data attribute directly on the script tag.</p>
	<pre><code class="account__code--html"></pre></code>
	<p class="account__instruction">Or if you prefer to use the NPM module set your OpenShare key using the setKey method.</p>
	<pre><code class="account__code--js"></pre></code>
</div>
