<div class="account__intro">
	<h2>We've made your OpenShare key!</h2>
	<p class="openshare-key"></p>
</div>

<div class="account__block">
	<ul class="account-form">
		<li class="account-form__item">
			<input class="account-form__input url-list__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item">
			<input class="account-form__input url-list__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item">
			<input class="account-form__input url-list__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item">
			<input class="account-form__input url-list__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item">
			<input class="account-form__input url-list__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item--disabled">
			<input disabled class="account-form__input" type="text" placeholder="https://" />
		</li>
		<li class="account-form__item--disabled">
			<input disabled class="account-form__input" type="text" placeholder="https://" />
		</li>
	</ul>
	<a href="#" class="account__more-info">Want more URLs? Let us know.</a>
</div>

<button id='account-submit' class="account__btn btn">Submit</button>
<a href="#" class="account__delete">Delete account</a>
