<div class="account__intro">
	<h2>You're ready to go!</h2>
	<p class="account__instruction">Your api key is <code class="account__spi-key"></code></p>
	<p class="account__instruction">To get started simply pass your API key to OpenShare using a data attribute directly on the script tag.</p>
	<pre><code class="account__code--html"></pre></code>
	<p class="account__instruction">Or if you prefer to use the NPM module pass your API key to OpenShare using the setApiKey method.</p>
	<pre><code class="account__code--js"></pre></code>
</div>
