.account {
	padding-bottom: 4em;
}

.account__header {
	@extend %row-padd;
	background-color: #eee;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	padding-bottom: 1em;
	padding-top: 2em;
	position: relative;

	&::before {
		background: rgba(0, 0, 0, .6);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.account__header-inner {
	position: relative;
	z-index: 99;
}

.account__inner {
	@extend %row-padd;
	@extend %outer-container;
	line-height: 1.5;
	padding-top: 2em;
}

.account__instruction {
	@include media($large-screen) {
		max-width: 80%;
	}
}

.account__more-info {
	font-size: .9em;
}

.account__more-info-icon {
	margin-left: 1.25em;
	margin-right: .2em;
}

.account__avatar {
	border-radius: 100%;
	display: block;
	height: 9.375em;
	margin: 0 auto;
	width: 9.375em;
}

.account__bio {
	font-size: 1.125em;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 37.5em;
	padding: 1.25em 0;
	text-align: center;
}

.account__username {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 auto;
	padding: 1em 0 0;
	text-align: center;
}

.account__intro {
	border-bottom: solid 1px #ddd;
	margin-bottom: 3em;
	padding-bottom: 1em;
}

.account__block {
	margin-bottom: 5em;
}

.account-form {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.account-form__item--disabled {
	opacity: .4;

	&,
	.account-form__input {
		cursor: help;
	}
}

.account-form__input {
	@include transition(.3s);
	border: solid 2px rgb(238, 238, 238);
	margin-bottom: .625em;
	padding: .625em;
	width: 100%;

	&:focus {
		border: solid 2px $blue;
		outline: none;
	}
}

.account-form__input--no-margin {
	@extend .account-form__input;
	margin-bottom: 0;
}

.account__btn {
	display: inline-block;
	margin: 0 auto;
}

.account__delete {
	color: $red;
	display: inline-block;
	font-size: .9em;
	margin-left: 1.5em;

	&:hover {
		text-decoration: underline;
	}
}

.account__spi-key {
	color: #d14;
	font-size: .8125em;
}

.more-urls {
	@include transition(.3s);
	display: none;
	margin-top: 1.25em;
	max-width: 25em;
	opacity: 0;
}

.more-urls--display {
	@include display(flex);
}

.more-urls--show {
	opacity: 1;
}
