.avatar {
	display: block;
	height: 3.125em;
	margin: 0 auto;
	width: 3.125em;

	@include media($large-screen) {
		margin: 0;
		position: absolute;
		right: 20px;
		top: 5px;
	}
}

.avatar__img {
	border-radius: 100%;
	width: 100%;
}
