%header-link {
	color: $white;
	text-decoration: none;
}

.header {
	@extend %row;
	@extend %row-padd;
	position: relative;
}

.header-background {
	background: url('../img/bg-masthead.jpg') no-repeat center center;
	background-size: cover;
	padding: .75em 0 1.75em;

	.header {
		@extend %outer-container;
	}
}

.header__logo {
	font-size: 2em;
	font-weight: 200;
	letter-spacing: 5px;
	margin: .638888889em 0 0;
	text-transform: uppercase;

	@include media(333px) {
		font-size: 2.25em;
	};

	@include media($medium-screen) {
		float: left;
	}
}

.header__logo-strong {
	font-weight: 600;
}

.header__logo-link {
	@extend %header-link;
}

.header__nav {
	display: none;
	margin-top: 1.875em;
	text-align: center;

	@include media($large-screen) {
		display: block;
		float: right;
		text-align: left;
	}

	&.active {
		display: block;
	}
}

.header__nav--logged-in {
	@extend .header__nav;
	padding-right: 3.75em;
}

.header__nav-list {
	margin: 0;
	padding: 0;
}

.header__nav-item {
	display: block;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 1em;

	@include media($large-screen) {
		display: inline-block;
		font-size: 1.25em;
		margin: 0 0 0 2em;
	}
}

.header__nav-item--hide {
	display: none;
}

.header__nav-link {
	@extend %header-link;
	@include transition(.3s);

	&:hover {
		color: $blue;
	}
}

.header__nav-link--active {
	@extend .header__nav-link;
	color: $blue;
}

.header__btn {
	font-size: .8em;
	padding: 1em 1.25em 0;
}
