.newsletter {
	background: $black;
	padding: 2.5em 0 3em;
}

.newsletter__inner {
	@extend %outer-container;
	color: $white;
	text-align: center;
}

.newsletter__title {
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: 0 0 1em;
	text-decoration: none;
}

.newsletter__emphasis {
	color: lighten($blue, 10%);
	font-weight: normal;
}

.newsletter__form {
	@include display(flex);
	margin: 0 auto;
	max-width: 50em;
}

.newsletter__input {
	@include transition(.3s);
	@include flex-grow(2);
	border: solid 2px rgb(238, 238, 238);
	padding: .625em;
}
